
@{
}
@model List<GymManager.Core.Member.Member>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">BrithDay</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var member in Model)
        {
        <tr>
            <th> @member.Name </th>
            <td>@member.LastName </td>
            <td> @member.BirthDay </td>
            <td>@member.Email</td>
        </tr>  
        }

    </tbody>
</table>