@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model GymManager.Web.Models.MemberListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@section HeaderRight{

    <form asp-controller="Members" asp-action="Index" class="d-flex " role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="buscar">
        <button class="btn btn-outline-success" type="submit" value="buscar">Search</button>
    </form>

}

<div class="container">
    <h1> Members</h1>
    <div class="row">
        <div class="col-6"> The count of new members this week is: @Model.NewMembersCount </div>
        <div class="col-6">
            <a asp-action="Create" class="btn btn-outline-success float-end">Create </a>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/_MemberList.cshtml", Model.Members)

</div>


